<%- layout("./layout/boilerplate.ejs") %>
<body>

    <div class="alert alert-danger" role="alert" style="margin: 50px 30px;">
    <h3 style="padding: 20px 0px ;display: flex;justify-content: center;align-items: center;"><%=message%></h3>
</div>

</body>
</html>